#footer{
  background-color: #3A3839;
  padding: 20px 0;
  border-top: 2px solid gray;
  .dropdown-menu {
    background-color: black;
    >li>a:hover {
      background-color: dimgray;
    }
  }
  @media(max-width: $screen-xs-max) {
    .footer-logo{
      width: 200px;
      margin: 0 auto;
    }
  }
  .quick-links{
    text-align: center;
    margin-top: 20px;
  }
  .quick-links {
    .title {
      color: white;
      font-size: 20px;
      font-weight: bold;
	  @media(max-width: $screen-sm-max) {
        font-size: 18px;
      }
    }
    ul {
      padding: 0px;
      li{
        list-style: none;
        a{
          color: white;
          font-family: 'Catamaran';
        }
      }
    }
  }
}
