.banner{
  height: 320px;
  background-size: cover;
  background-position: 50% 60%;
  @media(max-width: $screen-xs-max) {
    height: 265px;
  }
}
.banner_home{
  background-image: url(/img/module/home_banner.jpg);
}
.banner_interior{
  background-image: url(/img/module/interior_banner.jpg);
}
#home_module{
  background-color: #2A2A2A;
  color: white;
  .title{
    background-image: url(/img/module/carbonfibre-texture.jpg);
    background-repeat: repeat;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    font-size: 42px;
    font-family: 'Catamaran';
    font-weight: bolder;
    padding: 10px 0;
    text-align: center;
    text-shadow: 15px 15px 40px black;
    text-transform: uppercase;
    @media(max-width: $screen-xs-max) {
      line-height: 1.0em;
      font-size: 30px;
      padding: 15px 0;
    }
  }
  .page-content{
    padding: 20px 0;
    a{
      color: white;
    }
  }
}
