.banner{
  height: 320px;
  background-size: cover;
  background-position: 50% 60%;
}
.banner_home{
  background-image: url(/img/module_home_banner.jpg);
}
.banner_interior{
  background-image: url(/img/module_interior_banner.jpg);
}